* {
	box-sizing: border-box;
	}
	
	.menu {
		height: 100px;
		width: 100%;
		background-color: black;
		position: fixed;
		top: 0;
		left: 0;
	}
	
	.menu a {
		color: white;
		display: inline-block;
		height: 100px;
		line-height: 100px;
		width: 20%;
		margin-right: -4px;
		text-decoration: none;
		padding-left: 30px;
	}
	
	p {
		margin-top: 100px;
	}